<header class="container">
	<h1>Movies Trivial</h1>
</header>


<div style="visibility: hidden;">Maximun Score: <span id="score-max"><%= @game.max_score %></span> </div>

<div class="criterion">
	<%= form_for @question do |f|%>
		<%= f.label "Selection criteria:" %>:
		<%= f.select :criterion, ["love", "war", "rabbit", "man", "carrot", "sun"] %>
		<button id="button-criterion"> Search </button>	
	<% end %>
</div>

<br><br>

<div class="container">
	<div class="row">
		<hr>
		<div class="col-md-1"></div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<span class="poster" id="answer1"><%= image_tag(@random_movies[0].poster, class: "image-size") %></span>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<span class="poster" id="answer2"><%= image_tag(@random_movies[1].poster, class: "image-size") %></span>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<span class="poster" id="answer3"><%= image_tag(@random_movies[2].poster, class: "image-size") %></span>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<span class="poster" id="answer4"><%= image_tag(@random_movies[3].poster, class: "image-size") %></span>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<span class="poster" id="answer5"><%= image_tag(@random_movies[4].poster, class: "image-size") %></span>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<div class="hidden_text">
		<span id="year1"><%= @random_movies[0].year %></span>
		<span id="year2"><%= @random_movies[1].year %></span>
		<span id="year3"><%= @random_movies[2].year %></span>
		<span id="year4"><%= @random_movies[3].year %></span>
		<span id="year5"><%= @random_movies[4].year %></span>
</div>
</div>

<div style="visibility: hidden;">Player Score: <span id="player-score"><%= @game.score %></span> </div>

<div class="container">
	<p id="question"> What movie was filmed in <span id="year"><%= @question_movie.year %></span>? </p>
</div>